apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  labels:
    service: catalogue
spec:
  replicas: 1
  selector:
    matchLabels:
      service: catalogue
  template:
    metadata:
      labels:
        service: catalogue
    spec:
      {{ if .Values.psp.enabled }}
      serviceAccountName: robot-shop
      {{ end }}
      containers:
      - name: catalogue
        image: 813864300626.dkr.ecr.us-west-2.amazonaws.com/rs-catalogue:latest
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        {{- if .Values.otlp.endpoint }}
        - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
          value: {{ .Values.otlp.endpoint }}
        {{- end }}
        {{- if .Values.otlp.insecure }}
        - name: OTEL_EXPORTER_OTLP_INSECURE
          value: {{ .Values.otlp.insecure | quote }}
        {{- end }}
        {{- if .Values.otlp.headers }}
        - name: OTEL_EXPORTER_OTLP_HEADERS
          value: {{ .Values.otlp.headers | quote }}
        {{- end }}
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: "service.name=catalogue,service.namespace=robot-shop"
        ports:
        - name: http
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ready
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
      {{- with .Values.catalogue.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.catalogue.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.catalogue.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
