apiVersion: apps/v1
kind: Deployment
metadata:
  name: dispatch
  labels:
    service: dispatch
spec:
  replicas:  {{ .Values.dispatch.replicas }}
  selector:
    matchLabels:
      service: dispatch
  template:
    metadata:
      labels:
        service: dispatch
    spec:
      {{ if .Values.psp.enabled }}
      serviceAccountName: robot-shop
      {{ end }}
      containers:
      - name: dispatch
        image: {{ .Values.image.repo }}/rs-dispatch:{{ .Values.image.version }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        {{- if .Values.otlp.endpoint }}
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: {{ .Values.otlp.endpoint }}
        {{- end }}
        {{- if .Values.otlp.insecure }}
        - name: OTEL_EXPORTER_OTLP_INSECURE
          value: {{ .Values.otlp.insecure | quote }}
        {{- end }}
        {{- if .Values.otlp.headers }}
        - name: OTEL_EXPORTER_OTLP_HEADERS
          value: {{ .Values.otlp.headers | quote }}
        {{- end }}
        - name: OTEL_SERVICE_NAME
          value: dispatch
        - name: OTEL_SERVICE_NAMESPACE
          value: {{ .Release.Namespace }}
        ports:
        - name: http
          containerPort: 8080
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
      restartPolicy: Always
      {{- with .Values.dispatch.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dispatch.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dispatch.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
